# 필수 설치 및 연결 설정
- 아래 두 개 코드는 먼저 반드시 실행

In [1]:
%load_ext sql
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1

Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.10/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.1.1)
Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)

redshift에 연결

In [2]:
%sql postgresql://admin:4Ward-food@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

# raw_data 스키마 생성
- s3의 csv 파일은 여기에 copy해서 저장할 예정입니다
- 추후에 별도의 가공 데이터를 저장할 거면 새로운 스키마를 만드시면 됩니다

In [ ]:
%%sql
CREATE SCHEMA raw_data;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

# 테이블 생성
- daily_item_prices
- monthly_item_prices
- county_item_prices
- annual_production
- base_code

In [ ]:
%%sql
DROP TABLE IF EXISTS raw_data.daily_item_prices;
CREATE TABLE raw_data.daily_item_prices(
  itemcategorycode integer,
  itemcode integer,
  countyname varchar(32),
  date date,
  price integer
);

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

monthly_item_prices 스키마 변경됨

In [ ]:
# 스키마 변경
%%sql
DROP TABLE IF EXISTS raw_data.monthly_item_prices;
CREATE TABLE raw_data.monthly_item_prices(
  itemcategorycode integer,
  itemcode integer,
  date varchar(6),
  price integer
);

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [3]:
%%sql
DROP TABLE IF EXISTS raw_data.county_item_prices;
CREATE TABLE raw_data.county_item_prices(
  itemcategorycode integer,
  itemcode integer,
  date date,
  countyname varchar(32),
  price integer,
  weekprice integer,
  monthprice integer,
  yearprice integer,
  citycode varchar(32)
);

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS raw_data.annual_production;
CREATE TABLE raw_data.annual_production(
  itemcategorycode integer,
  itemcode integer,
  year integer,
  production integer
);

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS raw_data.base_code;
CREATE TABLE raw_data.base_code(
  itemcategorycode integer,
  itemcode integer primary key,
  itemname varchar(32)
);

In [ ]:
%%sql
DROP TABLE IF EXISTS raw_data.yearavg_item_prices;
CREATE TABLE raw_data.yearavg_item_prices(
  itemcategorycode integer,
  itemcode integer,
  year integer,
  price_yearavg integer
);

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

# S3의 csv로부터 데이터 copy

In [ ]:
%%sql
COPY raw_data.daily_item_prices
FROM 's3://4ward-food-bucket/food_data/daily_item_prices.csv'
credentials 'aws_iam_role=arn:aws:iam::762233739362:role/service-role/AmazonRedshift-CommandsAccessRole-20241105T113613'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
COPY raw_data.monthly_item_prices
FROM 's3://4ward-food-bucket/food_data/monthly_item_prices.csv'
credentials 'aws_iam_role=arn:aws:iam::762233739362:role/service-role/AmazonRedshift-CommandsAccessRole-20241105T113613'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
COPY raw_data.monthly_item_prices
FROM 's3://4ward-food-bucket/food_data/monthly_item_prices.csv'
credentials 'aws_iam_role=arn:aws:iam::762233739362:role/service-role/AmazonRedshift-CommandsAccessRole-20241105T113613'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [4]:
%%sql
COPY raw_data.county_item_prices
FROM 's3://4ward-food-bucket/food_data/county_item_prices.csv'
credentials 'aws_iam_role=arn:aws:iam::762233739362:role/service-role/AmazonRedshift-CommandsAccessRole-20241105T113613'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
COPY raw_data.annual_production
FROM 's3://4ward-food-bucket/food_data/annual_production.csv'
credentials 'aws_iam_role=arn:aws:iam::762233739362:role/service-role/AmazonRedshift-CommandsAccessRole-20241105T113613'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
COPY raw_data.base_code
FROM 's3://4ward-food-bucket/food_data/base_code.csv'
credentials 'aws_iam_role=arn:aws:iam::762233739362:role/service-role/AmazonRedshift-CommandsAccessRole-20241105T113613'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
COPY raw_data.yearavg_item_prices
FROM 's3://4ward-food-bucket/food_data/yearavg_item_prices.csv'
credentials 'aws_iam_role=arn:aws:iam::762233739362:role/service-role/AmazonRedshift-CommandsAccessRole-20241105T113613'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

정상적으로 완료된 것을 확인 가능

In [ ]:
%%sql

SELECT * FROM raw_data.monthly_item_prices LIMIT 10;

 * postgresql://admin:***@default-workgroup.762233739362.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
0 rows affected.

[]

에러메시지 확인

In [ ]:
%%sql
select * from sys_load_error_detail;